<VirtualHost *:80>
    DocumentRoot "{{ apache_root }}"
    <Directory "{{ apache_root }}">
        AllowOverride All
        Require all granted
    </Directory>

    SetEnv DB_HOSTNAME "{{ db_hostname }}"
    SetEnv DB_PORT "{{ db_port }}"
    SetEnv DB_NAME "{{ db_name }}"
    SetEnv DB_USER "{{ db_user }}"
    SetEnv DB_PASSWORD "{{ db_password }}"

</VirtualHost>
